@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--font-family: "MuseoModerno", sans-serif;
	--second-family: "Roboto", sans-serif;

	--active-bg: #C70101;
}

section>.container {
	width: 60vw;
	/* border: 1px solid #000; */
	margin: 0 auto;
	padding: 0 5vw;
}


/* section intro */
.intro {

	/* border: 3px solid #c60e0e; */
	background-image: url(./assets/bg.svg);
	background-position: 0 0;
	background-size: cover;


	.container {
		display: flex;
		flex-direction: column;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1vw;

		img {
			width: 13vw;
		}

		.title {

			p {
				font-family: var(--font-family);
				font-weight: 500;
				font-size: 0.6vw;
				text-align: center;
				color: #fff;
			}

			p.brands {
				font-family: var(--font-family);
				font-weight: 500;
				font-size: 0.9vw;
				text-align: center;
				color: #fff;
			}


		}

		.contacts {

			text-align: right;
			display: flex;
			flex-direction: column;


			p {
				font-family: var(--font-family);
				font-weight: 700;
				font-size: 0.9vw;

				color: #fff;
			}

			a {

				display: inline-block;
				background-color: #C70101;
				padding: 0.5vw 1vw;
				border-radius: 0.3vw;

				font-family: var(--font-family);
				font-weight: 500;
				font-size: 0.6vw;
				text-transform: uppercase;
				text-align: center;
				color: #fff;

				text-decoration: none;


			}

		}

	}


	.main-info {
		/* width: 300px;
		height: 200px; */

		/* border: 1px solid #0cb01f; */
		align-self: flex-end;
		text-align: right;
		margin-top: 4.4vw;


		h1 {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 2vw;

			text-transform: uppercase;

			color: #fff;

			letter-spacing: 0.1vw;
		}

		h2 {
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 1.2vw;

			text-transform: uppercase;

			color: #fff;
		}

		.facilities {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-top: 3vw;
			gap: 4vw;


			figure {
				text-align: center;
			

				img {
					width: 2.3vw;
				}
	
				figcaption {
					font-family: var(--font-family);
					font-weight: 500;
					font-size: 0.7vw;
					line-height: 100%;
					text-align: center;
					color: #fff;
					margin-top: 1vw;
				}


			}
}

		a {

			display: inline-block;
			text-decoration: none;

			/* border: 1px solid #000; */

			font-family: var(--font-family);
			font-weight: 500;
			font-size: 0.8vw;
			text-transform: uppercase;
			text-align: center;
			color: #fff;

			padding: 0.6vw 1.5vw;

			border-radius: 0.3vw;
			background-color: #c70101;

			margin-top: 3.6vw;

		}

		p {
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 0.7vw;
			/* line-height: 100%; */
			text-align: center;
			color: #fff;
			text-align: right;
			margin-top: 0.4vw;
			margin-bottom: 4.7vw;
		}

		.catalog {
			all: unset;
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 0.8vw;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			text-decoration: underline;

			cursor:pointer;
		}

		}

	}
	
	


/* section advantages */
.advantages {

	background-color: #F6F6F6;

	.container {

		h2 {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 1.6vw;

			text-align: center;
			color: #0d0d0d;

			padding-top: 3.6vw;

		}




		h3 {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 1.2vw;
			line-height: 87%;
			text-align: center;
			color: #4a4a4a;
		}

		.advantages-cards {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			/* 	padding: 2vw 0; */
			/* border: 1px solid #a51717; */
			padding-top: 3vw;



			figure {
				/* 	border: 1px solid #000; */
				width: 14vw;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-bottom: 3.4vw;

				gap: 1vw;



				img {
					width: 3.6vw;

				}

				figcaption {
					font-family: var(--font-family);
					font-weight: 700;
					font-size: 0.9vw;
					text-align: center;
					color: #0d0d0d;
					height: 1.6vw;
					/* padding-top: 1.6vw; */
				}

				p {
					font-family: var(--font-family);
					font-weight: 300;
					font-size: 0.7vw;
					/* line-height: 129%; */
					text-align: center;
					color: #0d0d0d;
					/* padding-top: 1vw; */
				}

				a {
					text-decoration: underline;
					text-decoration-skip-ink: none;
					color: #f00;
				}

			}


			figure.cup img:hover{
				animation: rotate 3s infinite;
			}

			figure.heart img:hover{
				animation: scale 1s infinite;
			}

			figure.shoe img:hover{
				animation: jump 1s infinite;
			}
		}



	}




}

/* section contact-form */
.contact-form {

	/* 	height: 680px;
	border: 1px solid #000; */

	background-image: url(./assets/bg2.svg);
	background-size: cover;
	background-position: center;

	text-align: left;

	h2 {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 1.9vw;
		line-height: 150%;
		text-transform: uppercase;
		color: #fff;

		padding-top: 5.2vw;
	}

	h3 {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 1vw;
		line-height: 150%;
		color: #fff;
	}

	form {
		display: flex;
		flex-direction: column;
		width: 15.6vw;
		padding-top: 1.8vw;
		padding-bottom: 5.7vw;

		gap: 0.7vw;

		input {

			padding: 0;
			margin: 0;
			outline: none;
			border: none;

			padding: 1vw;
			width: 100%;

			font-family: var(--font-family);
			font-weight: 400;
			font-size: 0.7vw;

			color: #4b4b4b;


			border-radius: 0.2vw;
		}

		input[type="submit"] {
			background-color: #C70101;

			font-family: var(--font-family);
			font-weight: 500;
			font-size: 0.8vw;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
		}


	}







}


/* section slider */
.slider {


	.carousel {
		/* 	border: 1px solid #000; */
		padding: 7.8vw 0;
		width: 80%;

		margin: 0 auto;

	}


	/* все картинки делаем в пейнте 750*450 */



	.carousel-control-prev-icon {
		background-image: url(./assets/slider/chevron-left-solid.svg);
		width: 3vw;

	}

	.carousel-control-next-icon {
		background-image: url(./assets/slider/chevron-right-solid.svg);
		width: 3vw;

	}

	.carousel-control-next {
		right: -7vw;

	}

	.carousel-control-prev {
		left: -7vw;
	}


}

/* section catalog */


/* nav buttons */
.nav{
	justify-content: center;
}

.nav-item {
			margin: 0 10px;
	}

.tabs-container {
	display: grid;
	place-content: center;
}

button.nav-link {
	font-size: 0.8vw;
	padding: 0.50vw 1.2vw;
	border-radius: 0px!important;
	color: #6b6b6b ;
	text-transform: uppercase;
	border: 1px solid #6b6b6b;
	transform: skew(-20deg);
	
}

button.nav-link span{
	display: inline-block;
	transform: skew(20deg);
}

button.nav-link span:hover{
	color: #6b6b6b;
}

button.nav-link.active {
	background-color: var(--active-bg) !important;
	border-radius: 0;
	transform: skew(-20deg);

}

.nav-link.active span {
	display: inline-block;
	transform: skew(20deg);

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 0.8vw;
	line-height: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}


/* cards */


.catalog {

text-align: center;


h2 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 1.6vw;
	/* line-height: 150%; */
	text-transform: uppercase;
	text-align: center;
	color: #0d0d0d;

	padding-bottom: 2.3vw;
}

/* .catalog-links {

	width: 33vw;
	margin: 0 auto;

	display: flex;
	
	justify-content: space-between;



	a {
		

		display: inline-grid;
		border: 1px solid #d0d0d0;
		background-color: #fff;
		padding: 0.5vw 2vw;
		transform: skewX(-20deg);
		text-decoration: none;
		


		span {

			display: inline-block;

			font-family: var(--font-family);
			font-weight: 400;
			font-size: 0.9vw;

			text-transform: uppercase;
			text-align: center;
			color: #6B6B6B;

			transform: skewX(20deg);

		}


	}

	a:hover {
		background-color: #C70101;
	}

	a:hover span {
		color: #F6F6F6;
	}




} */




.catalog-cards {


			/* border: 1px solid #000; */

	padding: 3vw 0;
	display: grid;
	place-content: center;
	grid-template-columns: repeat(3, 17vw);
	/* grid-template-rows: repeat(2, 1fr); */
	/* grid-row-gap: 2vw; */
	grid-column-gap: 1vw;



	/* card не подходит, ибо бутстрап занял его */
	.product-card {

		position: relative;
		perspective: 1000px;

		.front_side {

			/* display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center; */

			width: 15.6vw;
			padding: 1vw;
			border: 0.1vw solid #E8E8E8;
			transition: 0.5s;
			backface-visibility: hidden;
			border-radius: 10px;



			img {
				width: 7.3vw;
			}

			h2 {
				padding: 0;
				margin: 0;
				font-family: var(--font-family);
				font-weight: 700;
				font-size: 0.8vw;
				text-align: center;
				color: #0d0d0d;
			}

			h3 {
				padding: 0;
				margin: 0;
				font-family: var(--font-family);
				font-weight: 300;
				font-size: 0.7vw;
				text-align: center;
				color: #0d0d0d;
			}

			a.details{

				padding: 0;
				margin: 0;

				font-family: var(--font-family);
				font-weight: 500;
				font-size: 0.7vw;
				/* line-height: 100%; */
				text-decoration: underline;
				text-decoration-skip-ink: none;
				text-align: center;
				color: #c70101;
				background-color: initial;

			}

			hr {
				margin: 0.9vw 0;

			}


			.wrapper {

				display: flex;
				justify-content: space-between;

				.prices {

					margin: 0;

					text-align: left;

					.old-price {
						font-family: var(--font-family);
						font-weight: 300;
						font-size: 0.7vw;
						line-height: 100%;
						text-decoration: line-through;
						color: #555;
					}

					.price {
						font-family: var(--font-family);
						font-weight: 700;
						font-size: 1vw;
						/* line-height: 100%; */
						color: #050505;
					}

				}

				a {
					display: inline-grid;
					place-items: center;
					margin: 0;
					line-height: initial;


					background-color: #C70101;
					padding: 0.5vw 1vw;
					border-radius: 0.3vw;

					font-family: var(--font-family);
					font-weight: 500;
					font-size: 0.6vw;
					text-transform: uppercase;
					text-align: center;
					color: #fff;

					text-decoration: none;
				}





			}


		}


		.back_side {

			display: flex;
			flex-direction: column;
			justify-content: space-between;


			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;

			width: 15.6vw;
			padding: 1vw;
			border: 0.1vw solid #E8E8E8;
			transition: 0.5s;
			backface-visibility: hidden;
			border-radius: 10px;
			transform: rotateY(-180deg);


			img {
				width: 7.3vw;
			}

			h2 {
				padding: 0;
				margin: 0;
				font-family: var(--font-family);
				font-weight: 700;
				font-size: 0.8vw;
				text-align: center;
				color: #0d0d0d;
			}

			ul {
									list-style-type: square;
									margin: 0;
									padding: 0 0.8vw;
			}

			ul li {
				padding: 0;
				margin: 0;
				font-family: var(--font-family);
				font-weight: 300;
				font-size: 0.7vw;
				text-align: left;
				color: #0d0d0d;
			}

			li::marker {
				color: red;

			}

			a.back {

				padding: 0;
				margin: 0;

				font-family: var(--font-family);
				font-weight: 500;
				font-size: 0.7vw;
				/* line-height: 100%; */
				text-decoration: underline;
				text-decoration-skip-ink: none;
				text-align: center;
				color: #c70101;
				background-color: initial;

			}

			hr {
				margin: 0;
				padding: 0;
			}


			.wrapper {

				display: flex;
				justify-content: space-between;

				.prices {

					margin: 0;

					text-align: left;

					.old-price {
						font-family: var(--font-family);
						font-weight: 300;
						font-size: 0.7vw;
						line-height: 100%;
						text-decoration: line-through;
						color: #555;
					}

					.price {
						font-family: var(--font-family);
						font-weight: 700;
						font-size: 1vw;
						/* line-height: 100%; */
						color: #050505;
					}

				}

				a {
					display: inline-grid;
					place-items: center;
					margin: 0;
					line-height: initial;


					background-color: #C70101;
					padding: 0.5vw 1vw;
					border-radius: 0.3vw;

					font-family: var(--font-family);
					font-weight: 500;
					font-size: 0.6vw;
					text-transform: uppercase;
					text-align: center;
					color: #fff;

					text-decoration: none;
				}



			}


		}


	}

	.product-card:hover .front_side {
		transform: rotateY(-180deg);
	}

	.product-card:hover .back_side {
		transform: rotateY(-360deg);
	}

}

}


/* section customer-reviews  */

.customer-reviews {


	background-color: #F6F6F6;

	.container {

		h2 {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 1.6vw;

			text-align: center;
			color: #0d0d0d;

			padding-top: 3.6vw;

			text-transform: uppercase;

		}


		.customer-reviews-cards {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			/* 	padding: 2vw 0; */
			/* border: 1px solid #a51717; */
			padding-top: 3vw;



			figure {
				/* 	border: 1px solid #000; */
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding-bottom: 3.4vw;

				gap: 3vw;

				img {
					width: 8.9vw;

				}

				figcaption {

					display: flex;
					flex-direction: column;


					h3 {
						font-family: var(--font-family);
						font-weight: 700;
						font-size: 1vw;

						color: #0d0d0d;

					}


					span {
						font-family: var(--font-family);
						font-weight: 300;
						font-size: 0.7vw;
						color: #646464;

						/* line-height: 0; */

					}

					p {
						font-family: var(--font-family);
						font-weight: 500;
						font-size: 0.8vw;
						/* line-height: 150%; */
						color: #0d0d0d;
						padding-top: 0.5vw;
					}



				}




			}
		}



	}





}


/* footer */
footer {

	position: relative;

	/* background-image: url(./assets/map.svg);
	background-position: top;
	background-size: cover; */


	height: 40vw;

	.info-card {

		position: absolute;
		top: 0;
		right: calc(50vw - 12vw);
		z-index: 3;

		width: 24vw;
		height: 14vw;
		background-color: #C70101;
		margin: 0 auto;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;


		.address {
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 1vw;
			line-height: 100%;
			text-align: center;
			color: #fff;
		}


		.tel {

			font-family: var(--font-family);
			font-weight: 700;
			font-size: 0.9vw;

			color: #fff;

		}

		.social-media {


			img {
				width: 2.8vw;
			}

			img:hover {
			 transform: scale(1.2);
				transition: 1s;
			}

		}


	}




	iframe {
		border: 0;
		position: relative;
		/* top: -255px; */
		z-index: 0;
	}



}



/* Animations */

@keyframes rotate {

	from { 
			transform: rotateY(0deg)
	}

	to {
			transform: rotateY(360deg)
	}
}


@keyframes scale {

	0% { 
			transform: scale(1)
	}

	50% {
			transform: scale(1.2)
	}

	100% { 
		transform: scale(1)
}

}


@keyframes jump {

	0% { 
			transform: translateY(0)
	}

	50% {
			transform: translateY(-1vw)
	}

	100% { 
		transform: translateY(0)
}

}